@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&subset=cyrillic-ext');

@font-face {
    font-family: "Arimo";
    src: url("../fonts/Arimo-Regular.ttf");
}

.container {
    width: 1200px;
    height: 740px;
    border: 24px solid  #374765;
    margin: auto;
}

.clearfix {
    clear: both;
}

.paint-gn {
    background-color: #89c331 !important;
    color: #ffffff;
}

.paint-rd {
    background-color: #f04a56 !important;
    color: #ffffff;
}

.paint-sea {
    background-color: #20807c !important;
    color: #ffffff;
}

.fs30 {
    font-size: 30px !important;
}

/* TABLE START */

.main-table {
    width: 100%;
    height: 100%;
    font-family: "Arimo";
    color: #484848;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    border-collapse: collapse;
}

.table-data-items, .table-footer-item, .table-top-items {
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}

.table-data-items + .table-data-items-title {
    position: absolute;
}

.table-data-items-title {
    position: relative;
    bottom: 3px;
}

.table-top-row .table-top-items {
    border: none;
    padding: 20px 0px;
    font-size: 24px;
}

.table-top-row .table-top-items:first-child {
    font-size: 18px;
    font-weight: 700;
}

.table-top {
    background-color: #fafafa;
}

.table-data-row:nth-child(even) {
    background-color: #e3e3e3;
}

.table-data-row:nth-child(odd) {
    background-color: #f2f2f2;
}


.table-top-price {
    margin-left: 35px;
    float: left;
    color: #484848;
    font-size: 60px;
    font-weight: 700;
}

.top-item-save {
    padding-top: 9px;
    float: left;
    text-align: left;
}

.top-item-discount {
    color: #484848;
    font-size: 24px;
    font-weight: 700;
    clear: right;
}

.top-item-period {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}

.table-top-price:before {
    content: "\0024";
    font-size: 60px;
    font-weight: 700;
}

.top-items-plan {
    display: block;
    font-size: 30px;
    font-weight: 700;
}

.table-top-items {
    padding: 15px 30px;
}

.table-footer-btn {
    margin: 28px 40px;
    width: 192px;
    height: 49px;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    background-color: #484848;
    color: #ffffff;
    border-bottom: 5px solid #404040;
}

.table-footer-btn:hover {
    background-color: #404040;
}

.table-footer-btn-grn {
    margin: 28px 40px;
    width: 192px;
    height: 49px;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    background-color: #89c331;
    color: #ffffff;
    border-bottom: 5px solid #79b027;
}

.table-footer-btn-grn:hover {
    background-color: #79b027;
}

.table-footer-btn-rd {
    margin: 28px 40px;
    width: 192px;
    height: 49px;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    background-color: #f04a56;
    color: #ffffff;
    border-bottom: 5px solid #df3a46;
}

.table-footer-btn-rd:hover {
    background-color: #df3a46;
}

.table-footer-btn-sea {
    margin: 28px 40px;
    width: 192px;
    height: 49px;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    background-color: #20807c;
    color: #ffffff;
    border-bottom: 5px solid #16736f;
}

.table-footer-btn-sea:hover {
    background-color: #16736f;
}

.table-footer-item:first-child {
    background-color: #dddddd;
    color: #ffffff;
}

.fa-archive, .fa-cloud-download-alt, .fa-envelope, .fa-life-ring, .fa-cube, .fa-users {
    font-size: 24px;
    color: #848484;
    padding-right: 5px;
}

/* TABLE END */

